<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.mupe.mupstar.dao.MupStarMapper">
 	<select id="selectStar" resultType="map">
 		SELECT
 			*
 		FROM
 			`star`
 	</select>
 	
 
 	 <insert id="insertStar" parameterType="map"> 
 		INSERT INTO `star`
 		(
 			`movieId`
 			,`userId`
			,`startCount`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{movieId}
 			,#{userId}
 			,#{startCount}
 			, NOW()
 			, NOW()
 		)
 		
 	</insert>
 </mapper>