<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.mupe.mupstar.dao.MupStarMapper">
 	<select id="selectStarListByMovieId" resultType="map">
 		SELECT
 			*
 		FROM
 			`star`
 		WHERE
 			`movieId` = #{movieId}
 	</select>
 
 
 	<select id="selectStar" resultType="int">
 		SELECT
 			`startCount`
 		FROM
 			`star`
 		WHERE
 			`userId` = #{userId}
 			AND
 			`movieId` = #{movieId}
 		LIMIT 1
 	</select>
 	
 
 	 <insert id="insertStar" parameterType="map"> 
 		INSERT INTO `star`
 		(
 			`movieId`
			,`startCount`
			,`userId`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{movieId}
 			,#{startCount}
 			,#{userId}
 			, NOW()
 			, NOW()
 		)
 		
 	</insert>
 	
 	<update id="updateStar" parameterType="int">
 		UPDATE `star`
 		SET
 			`startCount` = #{startCount}
 			, `updatedAt` = NOW()
 		WHERE
 			`movieId` = #{movieId}
 	</update>
 </mapper>