@charset "UTF-8";

img {
    margin-top: 0 !important;
    opacity: 1 !important;
}
#nav-1 > a{
    text-decoration: none;
    color: #000 !important;
}

#nav-2 > a{
    text-decoration: none;
    color: #000 !important;
}

#nav-3 > a{
    text-decoration: none;
    color: rgb(41, 128, 185) !important;
}

.muphoto-text {
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: rgb(41, 128, 185);
}

.muphoto-text-detail {
    margin-bottom: 60px;
    text-align: center;
    font-size: 14px;
    color: rgb(41, 128, 185);
}

.input-text-wrap {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 315px;
}

#writeTextArea {
    width: 487px;
    height: 315px;
    border: 1px solid #ccc;
}

.file-upload {
    position: absolute;
    right: 220px;
    bottom: -2px;
    display: flex;
    justify-content: center;
}

.file-upload > input {
    display: none;
}

#fileUploadBtn > img {
    right: 400px;
}

/*.mup-photo-container {
    display: flex;
    justify-content: center;
    
}*/

.mup-photo-wrap {
	margin: 0 auto;
    width: 487px;
}

.mup-photo-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    width: 488px;
    height: 37px;
    background-color: #e0e0e0;
    line-height: 38px;
}

.mup-photo-input {
    width: 488px;
    height: 500px;
    border: 2px solid #ccc;
}

.like-box {
    display: flex;
    justify-content: start;
    width: 488px;
    height: 40px;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.like-img-box {
    width: 35px;
    height: 35px;
}

.like-text {
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
}

.impression-box {
    width: 488px;
    height: 40px;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    line-height: 40px;
}

.comment-wrap {
    width: 488px;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.comment-nav {
    margin-bottom: 10px;
    width: 488px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: #e0e0e0;
}

.comment-box {
    width: 488px;
    height: 30px;
}

.comment-input {
    display: flex;
    justify-content: space-between;
    width: 488px;
    height: 25px;
}

.comment-input > input {
    width: 400px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.comment-input > button {
    width: 88px;
    height: 30px;
    border: none;
    border: 1px solid #ccc;
    color: #2080b9;
    background-color: #fff;
}