@charset "UTF-8";

.wrap-container {
	margin-left: 363px;
    margin-top: 70px;
    width: 482px;
    height: 488px;
    background-color: black;
}

.span-box {
    padding-top: 10px;
    text-align: center;
}

.id-container {
    width: 482px;
    height: 65px;
}

.id-box {
    padding-top: 40px;
    padding-left: 27px;
    margin-bottom: 5px;
    font-size: 17px;
    color: #fff;
}

.input-id {
    width: 300px;
    height: 35px;
    margin-left: 27px;
    border-radius: 4px;
    box-shadow:0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc;
}

.password-container {
    width: 482px;
    height: 65px;
}

.password-box {
    padding-top: 40px;
    padding-left: 27px;
    margin-bottom: 5px;
    font-size: 17px;
    color: #fff;
}

.input-password {
    width: 300px;
    height: 35px;
    margin-left: 27px;
    margin-bottom: 44px;
    border-radius: 4px;
    box-shadow:0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc;
}

#loginBtn {
    width: 135px;
    height: 42px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
}

.box-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 482px;
    height: 31px;
}

.box {
    width: 28px;
    height: 31px;
    background-color: #e0e0e0;
}

.span-box-span {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
}

.btn-box {
    margin-bottom: 34px;
    display: flex;
    justify-content: space-evenly;
}